<h1>Feed</h1>

<%= render 'shared/chirp_form' %>

<% if @feed.any? %>
    <ul class="feed">
        <li><%= render partial: 'shared/chirp', collection: @feed %></li>
    </ul>
<% else %>
    <% if current_user.followed_users.count.positive? %>
        <p>It looks like none of the people you've followed have chirped!</p>
    <% else %>
        <p>You need to go follow some people!</p>
    <% end %>
<% end %>
