<div class="jumbotron">
    <h1>Welcome to Chirper</h1>
    <p>Keep in touch with your friends in 141 characters or less! We're always a step above the competition!</p>
    <p>
        <%= link_to "Sign Up Now »", signup_path, { :class => "btn btn-lg btn-primary" } %>
    </p>
</div>
<div class="container">
    <h1 class="cover-heading">Chirper</h1>
    <p class="lead">Lead</p>
</div>
