<%= form_for(current_user.likes.build(chirp_id: chirp.id), remote: true) do |f| %>
  <div><%= f.hidden_field :chirp_id %></div>
  <span class="like-submit not-liked glyphicon glyphicon-heart"></span>
<% end %>
