<%= form_for(current_user.likes.find_by(chirp_id: chirp.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <span class="like-submit liked glyphicon glyphicon-heart"></span>
<% end %>
