<div class="chirp">
  <span class="image"><%= gravatar_for(chirp.user) %></span>
  <span class="message"><%= chirp.message %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(chirp.created_at) %> ago.
  </span>
  <% if chirp.user == current_user %>
      <%= link_to "delete", chirp,
                            method: :delete,
                            data: { confirm: "You sure?" },
                            title: chirp.message %>
  <% end %>
</div>
