<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h3>The Form Contains <%= pluralize(object.errors.count, "Error") %>.</h3>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
